@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway|Yantramanav");
.insere-texto, .direita-cont, .area, #partners, .about-right, .about-area, .single-wc-content, .title-area, .welcome-area, #navbar {
  float: left;
}

.insere-texto, .direita-cont, .area, #partners, #call-to-action, .about-right, .about-area, .single-wc-content, .title-area, .welcome-area, #menu-area {
  display: inline;
}

.empresa-content span, .single-wc-content span, .tittle-line, .search-area input[type=submit], .search-area input[type=text], #navbar .main-nav li, #navbar .main-nav, .scrolldown a {
  display: inline-block;
}

.insere-texto, .direita-cont, .area, #partners, .about-right, .about-area, .single-wc-content, .title-area, .welcome-area, #navbar {
  float: left;
}

.call-to-overlay, #call-to-action, .cards-item .card-image, #about, #nav ul li a, .search-area, .scrolldown a, .loader {
  position: relative;
}

#fechar, .menu, .link-carousel, .link-infoco, .search-area input[type=submit], .search-area input[type=text], .next-back .voltar, .next-back .proximo, .loader:before, .loader:after {
  position: absolute;
}

#nav {
  position: fixed;
}

.insere-texto #pesquisar-btn:hover, .paginacao li a:hover, .paginacao li span:hover, #enviar-btn button:hover, .sub-footer, .assinar-btn, .card-btn:hover, #fechar, .link-infoco:hover, .search-area input[type=text], .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a, .scrolldown a {
  background: transparent;
}

.btn-orange-md:hover, .btn-orange-md, .custom-header-panel, .insere-texto #pesquisar-btn, .paginacao li a, .paginacao li span, .contato-text a:hover, .adesao-btn a:hover, .beneficios h1, .tabela-plano h1, .fim h1, .list-mobile, #enviar-btn button, #section h5, .assinar-btn:hover, #form-linha input, .ver-mais:hover, .about-btn-area a:hover, #fechar, #nav ul li a, #nav ul li, #nav .categ, #nav .menu-mobile, .link-infoco, .scrolldown a, .scrollToTop {
  color: #fff;
}

.faq-btn:hover, .empresa-content span, .insere-texto #pesquisar-btn:hover, .direita-cont .intagram-title a:hover, .paginacao li a:hover, .paginacao li span:hover, .contato-text a, .adesao-btn a, #enviar-btn button:hover, .sociais i:hover, #section a:hover, .assinar-btn, .call-to-content h2 span, .card-btn:hover, #counter .single-counter .counter-count p, #counter .single-counter .counter-count h2, #counter .single-counter i, .about-btn-area a, .link-infoco:hover, .scrolldown a:hover {
  color: #FF871C;
}

#nav {
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
  opacity: 0.97;
}

.insere-texto #pesquisar-btn, .paginacao li a, .paginacao li span, .contato-text a:hover, .adesao-btn a:hover, .beneficios li, .box .icon .image, #enviar-btn button, .assinar-btn:hover, .ver-mais:hover, .card-btn, .about-btn-area a:hover, .menu i, .link-infoco, #navbar .main-nav li a:after {
  background: #FF871C;
}

.faq-btn, #sobre .about p, .premium, .insere-texto #pesquisar-btn, #contato-container p, #counter .single-counter .counter-count p, .about-right .title-area p, .title-area p {
  font-family: "Yantramanav", sans-serif;
}

.faq-btn, .insere-texto #pesquisar-btn, .insere-texto input, .paginacao li a, .paginacao li span, #enviar-btn button, #section a, .assinar-btn, .ver-mais, .card-btn, .about-btn-area a, .scrollToTop {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

body, html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}
body font {
  family: "Open Sans", sans-serif;
  size: 16px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #2f2f2f;
}
a:focus {
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
  padding-bottom: 10px;
}

img {
  border: none;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 99999;
}

.loader {
  font-size: 10px;
  text-indent: -9999em;
  top: 300px;
  margin: 0 auto;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  -webkit-animation: load3 1.4s infinite linear;
  -moz-animation: load3 1.4s infinite linear;
  -ms-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:after {
  background: #fff;
  width: 75%;
  height: 75%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  content: "";
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.loader:before {
  content: "";
  width: 50%;
  height: 50%;
  -webkit-border-radius: 100% 0 0 0;
  -moz-border-radius: 100% 0 0 0;
  -ms-border-radius: 100% 0 0 0;
  border-radius: 100% 0 0 0;
  top: 0;
  left: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*ROLAR PARA CIMA*/
.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 20px;
  border: none;
  z-index: 9999;
  outline: none;
  background: rgba(0, 7, 142, 0.6);
  cursor: pointer;
  padding: 7px 15px;
  border-radius: 4px;
}

/*ROLAR PARA BAIXO*/ 
.scrolldown {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: right top 0;
  -ms-transform-origin: right top 0;
  transform-origin: right top 0;
  float: right;
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  .scrolldown {
    display: none;
  }
}
.scrolldown i {
  padding-left: 9px;
}
.scrolldown a {
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #000;
  letter-spacing: 1.4px;
  top: 36px;
  right: 42px;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  -webkit-animation: down 0.5s ease-in-out infinite alternate;
  -moz-animation: down 0.5s ease-in-out infinite alternate;
  -ms-animation: down 0.5s ease-in-out infinite alternate;
  animation: down 0.5s ease-in-out infinite alternate;
}
.scrolldown a:hover {
  text-decoration: none;
  font-size: 1.4rem;
}

@-webkit-keyframes down {
  0% {
    left: 0;
  }
  100% {
    left: 15px;
  }
}
@-moz-keyframes down {
  0% {
    left: 0;
  }
  100% {
    left: 15px;
  }
}
@-o-keyframes down {
  0% {
    left: 0;
  }
  100% {
    left: 15px;
  }
}
.next-back {
  display: flex;
  justify-content: center;
}
.next-back .proximo {
  text-shadow: 2px 2px 8px #444444;
  top: 25rem;
  display: block;
  z-index: 99;
  right: 1%;
}
@media screen and (min-width: 1920px) {
  .next-back .proximo {
    top: 40rem;
  }
}
@media screen and (max-width: 1024px) {
  .next-back .proximo {
    top: 20rem;
  }
}
@media screen and (max-width: 768px) {
  .next-back .proximo {
    top: 15rem;
  }
}
@media screen and (max-width: 610px) {
  .next-back .proximo {
    top: 10rem;
  }
}
@media screen and (max-width: 480px) {
  .next-back .proximo {
    top: 7rem;
  }
}
.next-back .proximo:focus {
  outline: none;
}
.next-back .proximo:before {
  content: "";
  color: #f7f7f7;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 6rem;
}
@media screen and (max-width: 610px) {
  .next-back .proximo:before {
    font-size: 4rem;
  }
}
.next-back .voltar {
  display: block;
  text-shadow: 2px 2px 8px #444444;
  top: 25rem;
  z-index: 99;
  left: 1%;
}
@media screen and (min-width: 1920px) {
  .next-back .voltar {
    top: 40rem;
  }
}
@media screen and (max-width: 1024px) {
  .next-back .voltar {
    top: 20rem;
  }
}
@media screen and (max-width: 768px) {
  .next-back .voltar {
    top: 15rem;
  }
}
@media screen and (max-width: 610px) {
  .next-back .voltar {
    top: 10rem;
  }
}
@media screen and (max-width: 480px) {
  .next-back .voltar {
    top: 7rem;
  }
}
.next-back .voltar:focus {
  outline: none;
}
.next-back .voltar:before {
  content: "";
  color: #f7f7f7;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 6rem;
}
@media screen and (max-width: 610px) {
  .next-back .voltar:before {
    font-size: 4rem;
  }
}

#client {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
#client swiper-slide {
  padding-top: 50rem;
}

#header {
  display: flex;
  flex-flow: column;
}

#menu-area {
  width: 100%;
}
#menu-area .main-navbar {
  background: #fff none repeat scroll 0 0;
  height: 90px;
  position: fixed;
  z-index: 100;
  width: 100%;
}
#menu-area .navbar-fixed-top {
  height: 80px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 2px 4px 0px #b2b2b2;
  -moz-box-shadow: 0px 2px 4px 0px #b2b2b2;
  -ms-box-shadow: 0px 2px 4px 0px #b2b2b2;
  box-shadow: 0px 2px 4px 0px #b2b2b2;
}

.logo {
  height: 100px;
  width: 120px;
  margin-right: 45px;
  margin-top: -1px;
  padding: 0;
}
.logo img {
  width: 250px;
  padding-top: 20px;
}
@media screen and (max-width: 320px) {
  .logo img {
    width: 200px;
  }
}
@media screen and (max-width: 1024px) {
  .logo {
    padding-left: 50px;
  }
}

.logo-compressed {
  height: 80px;
  width: 70px;
}

#navbar {
  width: 78%;
}
@media screen and (max-width: 768px) {
  #navbar {
    display: none;
  }
}
#navbar .main-nav {
  text-align: right;
  width: 100%;
}
#navbar .main-nav li {
  float: none;
}
#navbar .main-nav li a {
  color: #636363;
  font-size: 15px;
  padding: 39px 20px;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  #navbar .main-nav li a {
    padding: 39px 10px;
  }
}
#navbar .main-nav li a:after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
#navbar .main-nav li a:hover {
  text-decoration: none;
}
#navbar .main-nav li a:hover:after {
  width: 100%;
}

.less-padding {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  padding: 35px 15px !important;
}
@media screen and (max-width: 1024px) {
  .less-padding {
    padding: 30px 5px !important;
  }
}

.navbar-default .navbar-nav > li > a {
  color: #636363;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (max-width: 610px) {
  .search-area_bottom {
    margin-top: 20px;
  }
}

.search-area {
  float: right;
  height: 60px;
  padding: 0;
  right: 0;
  width: 5%;
}
@media screen and (max-width: 610px) {
  .search-area {
    left: -3px;
    top: -100px;
    width: 3%;
  }
}
.search-area input[type=text] {
  font-size: 20px;
  font-weight: 100;
  height: 100%;
  border: none;
  outline: none;
  line-height: 20px;
  color: #555;
  padding: 3px 60px 0px 3px;
  width: 0px;
  top: 11%;
  right: 0;
  z-index: 3;
  -moz-transition: width 0.7s cubic-bezier(0, 0.795, 0, 1);
  -o-transition: width 0.7s cubic-bezier(0, 0.795, 0, 1);
  -webkit-transition: width 0.7s cubic-bezier(0, 0.795, 0, 1);
  -ms-transition: width 0.7s cubic-bezier(0, 0.795, 0, 1);
  transition: width 0.7s cubic-bezier(0, 0.795, 0, 1);
  cursor: pointer;
}
.search-area input[type=text]:focus {
  width: 880px;
  z-index: 1;
  background-color: #fff;
  cursor: text;
}
@media screen and (max-width: 768px) {
  .search-area input[type=text]:focus {
    width: 680px;
  }
}
@media screen and (max-width: 610px) {
  .search-area input[type=text]:focus {
    width: 500px;
  }
}
@media screen and (max-width: 480px) {
  .search-area input[type=text]:focus {
    width: 350px;
  }
}
@media screen and (max-width: 320px) {
  .search-area input[type=text]:focus {
    width: 250px;
  }
}
.search-area input[type=submit] {
  background-image: url("../img/search-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  border: medium none;
  cursor: pointer;
  float: right;
  height: 35px;
  outline: medium none;
  right: 0;
  text-indent: -10000px;
  top: 53%;
  -moz-transition: opacity 0.4s ease 0s;
  -o-transition: opacity 0.4s ease 0s;
  -webkit-transition: opacity 0.4s ease 0s;
  -ms-transition: opacity 0.4s ease 0s;
  transition: opacity 0.4s ease 0s;
  width: 45px;
  z-index: 2;
}
.search-area input[type=submit]:hover {
  opacity: 0.8;
}

#carousel-parceiros {
  width: 100%;
  position: relative;
  margin: 80px 0 20px 0;
  -webkit-box-shadow: 0px 2px 2px 0px #b2b2b2;
  -moz-box-shadow: 0px 2px 2px 0px #b2b2b2;
  -ms-box-shadow: 0px 2px 2px 0px #b2b2b2;
  box-shadow: 0px 2px 2px 0px #b2b2b2;
}
@media screen and (max-width: 610px) {
  #carousel-parceiros {
    margin: 9rem 0 20px 0;
  }
}

.link-carousel, .link-infoco {
  bottom: 10%;
  right: 0;
  left: 0;
  width: 15%;
  margin: 0 auto;
}

.link-carousel {
  box-shadow: 2px 2px 8px #3cbe92;
  color: #3cbe92;
  width: 150px;
  border: 3px solid #3cbe92;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 600;
}
.link-carousel:hover {
  background: #3cbe92;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .link-carousel {
    width: 100px;
    padding: 0;
  }
}

.link-infoco {
  width: 200px;
  box-shadow: 2px 2px 8px #ff871c;
  border: 3px solid #ff871c;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .link-infoco {
    padding: 0;
  }
}

.sidebar-logo {
  display: flex;
  flex-flow: row;
}

.menu {
  margin-right: 20px;
  left: 1%;
  top: 20px;
}
.menu:hover {
  cursor: pointer;
}
.menu i {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  padding: 7px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}

/*  NAV 
 *
 * * ========================================== */
#nav {
  z-index: 1050;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 260px;
  width: 100%;
  padding: 120px 30px 70px 20px;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -moz-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -ms-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@media screen and (max-width: 1024px) {
  #nav {
    max-width: 400px;
  }
}
#nav .categ, #nav .menu-mobile {
  border: 1px solid #fff;
  margin: 0 auto;
  pointer-events: none;
  cursor: default;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 45px;
}
#nav .first {
  padding-top: 5rem;
}
#nav span {
  display: none;
}
@media screen and (min-width: 1920px) {
  #nav {
    max-width: 400px;
    padding: 150px 30px 70px 50px;
  }
}
@media screen and (max-width: 768px) {
  #nav {
    max-width: 300px;
    overflow-y: auto;
  }
  #nav span {
    display: block;
  }
}
#nav ul {
  list-style-type: none;
}
#nav ul li {
  -webkit-transform: translateX(40px);
  -moz-transform: translateX(40px);
  -ms-transform: translateX(40px);
  -o-transform: translateX(40px);
  transform: translateX(40px);
  border-bottom: 1px solid #ccc;
  opacity: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  float: none;
}
#nav ul li a {
  padding-left: 5rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  display: block;
  padding: 10px 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media screen and (min-width: 1920px) {
  #nav ul li a {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  #nav ul li a {
    font-size: 1.3rem;
  }
}
#nav ul li a:hover {
  color: #b7ac7f;
}
#nav ul li a i {
  float: left;
}

#nav.show {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
#nav.show ul li {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}
#nav.show ul li:nth-child(1) {
  transition-delay: 0.15s;
}
#nav.show ul li:nth-child(2) {
  transition-delay: 0.3s;
}
#nav.show ul li:nth-child(3) {
  transition-delay: 0.45s;
}
#nav.show ul li:nth-child(4) {
  transition-delay: 0.6s;
}
#nav.show ul li:nth-child(5) {
  transition-delay: 0.75s;
}
#nav.show ul li:nth-child(6) {
  transition-delay: 0.9s;
}
#nav.show ul li:nth-child(7) {
  transition-delay: 1.05s;
}
#nav.show ul li:nth-child(8) {
  transition-delay: 1.2s;
}
#nav.show ul li:nth-child(9) {
  transition-delay: 1.35s;
}
#nav.show ul li:nth-child(10) {
  transition-delay: 1.5s;
}

#fechar {
  top: 0;
  right: 0;
  border: none;
  font-size: 30px;
}
#fechar:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .wow {
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    -ms-transition: none;
    transition: none;
  }
}

.welcome-area {
  width: 100%;
}

#about {
  background-color: #fff;
  width: 100%;
}

.title-area {
  position: relative;
  text-align: center;
  width: 100%;
  padding-bottom: 20px;
}
.title-area p {
  max-width: 80%;
  margin: 0 auto;
  color: #686868;
  padding-bottom: 30px;
  letter-spacing: 1.2px;
  font-size: 18px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .title-area p {
    max-width: 100%;
  }
}

.tittle-line {
  background: #898989;
  height: 3px;
  margin-bottom: 16px;
  width: 60px;
}

.tittle {
  color: #3a3a3a;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0;
  padding-bottom: 18px;
}

.welcome-content {
  display: flex;
  width: 100%;
  margin-top: 50px;
}

.wc-table {
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .wc-table {
    width: 100%;
    display: flex;
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .wc-table {
    flex-flow: row wrap;
  }
}
@media screen and (max-width: 610px) {
  .wc-table {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .wc-table li {
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  .wc-table li {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
  }
}

.single-wc-content {
  width: 100%;
}
.single-wc-content span {
  border-radius: 100%;
  font-size: 35px;
  height: 117px;
  line-height: 117px;
  text-align: center;
  width: 117px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.single-wc-content .wc-tittle {
  color: #525252;
  text-transform: uppercase;
  font-size: 18px;
  border-bottom: 1px solid #bbbbbb;
  margin-top: 32px;
  padding-bottom: 17px;
}
.single-wc-content p {
  color: #7d7d7d;
  font-size: 15px;
  padding: 12px;
}
.single-wc-content:hover .wc-icon {
  color: #fff;
}
.single-wc-content:hover .wc-tittle {
  padding-bottom: 16px;
}

.about-area {
  margin-top: 45px;
  margin-bottom: 25px;
  width: 100%;
}

.about-right {
  padding-left: 85px;
  padding-top: 20px;
  width: 100%;
}
.about-right .title-area {
  text-align: left;
  padding: 0px;
}
.about-right .title-area .tittle {
  padding-bottom: 47px;
}
@media screen and (max-width: 768px) {
  .about-right .title-area .tittle {
    padding-bottom: 10px;
    font-size: 28px;
  }
}
.about-right .title-area .tittle-line {
  height: 2px;
  margin-bottom: 35px;
  width: 100px;
}
.about-right .title-area p {
  color: #535353;
  font-weight: 400;
  margin-bottom: 32px;
}

.about-btn-area {
  float: left;
  display: inline;
  margin-top: 14px;
  width: 100%;
}
.about-btn-area a {
  float: left;
  display: block;
  border: none;
  padding: 10px 25px 10px 25px;
  background: none;
  border: solid 2px #ff871c;
  font-size: 18px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .about-btn-area a {
    padding: 10px;
  }
}
@media screen and (max-width: 320px) {
  .about-btn-area a {
    padding: 3px;
  }
}
.about-btn-area a:hover {
  text-decoration: none;
}

#counter {
  border: 1px solid #ff871c;
  padding: 25px 0 20px 0;
}
#counter #sec-counter {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
#counter #sec-counter h1 {
  margin-top: 20px;
  padding: 5px;
}
#counter .single-counter {
  display: flex;
}
@media screen and (max-width: 610px) {
  #counter .single-counter {
    flex-flow: column;
    text-align: center;
  }
}
#counter .single-counter i {
  font-size: 50px;
}
#counter .single-counter .counter-count {
  margin: 5px 20px 0 20px;
}
@media screen and (max-width: 610px) {
  #counter .single-counter .counter-count {
    margin: 0 10px 0 10px;
  }
}
#counter .single-counter .counter-count h2 {
  font-size: 40px;
  font-weight: 600;
}
#counter .single-counter .counter-count p {
  font-size: 25px;
  font-weight: 400;
  margin-top: -5px;
}
@media screen and (max-width: 768px) {
  #counter .single-counter .counter-count p {
    font-size: 18px;
  }
}

#parceiros {
  background: #23282d;
  padding: 70px 0 30px 0;
  width: 100%;
}
#parceiros .p-nov {
  padding-bottom: 3rem;
  color: #ccc;
}

#linha-card {
  display: block;
  margin: 0 auto;
  width: 83%;
}
@media screen and (min-width: 1920px) {
  #linha-card {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  #linha-card {
    max-width: 100%;
  }
}

.cards-item {
  display: flex;
  margin: 8px 0;
  padding: 0.8rem;
  border: solid 0.5px #707070;
}
.cards-item .card-image {
  overflow: hidden;
}
.cards-item .card-image img {
  width: 100%;
  height: auto;
}
.cards-item .card-title {
  color: #696969;
  height: 45px;
  padding-top: 10px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 300;
}

.card-btn {
  color: #fff;
  border: solid 0.5px #ff871c;
}
.ver-mais {
  display: block;
  border: solid 0.5px #ff871c;
  color: #ff871c;
  margin: 5rem auto 0;
  width: 20rem;
  font-size: 18px;
  font-weight: 400;
}
#call-to-action {
  float: left;
  width: 100%;
}

.call-to-overlay {
  background-image: url("../img/assinar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .call-to-overlay {
    background: none;
  }
}

.call-to-content {
  display: inline;
  float: left;
  padding: 50px 0;
  text-align: center;
  width: 100%;
}
.call-to-content p {
  color: #ccc;
}

@media screen and (max-width: 480px) {
  .call-to-content {
    padding: 0;
  }
}
.call-to-content h2 {
  color: #fff7f7;
  font-size: 45px;
}
@media screen and (max-width: 610px) {
  .call-to-content h2 {
    font-size: 20px;
  }
}
.call-to-content p {
  font-family: "Yantramanav", sans-serif;
  font-size: 16px;
}

#form-linha {
  display: flex;
  justify-content: center;
  padding: 10px 0 15px 0;
}
@media screen and (max-width: 480px) {
  #form-linha {
    flex-flow: column;
  }
}
#form-linha input {
  border: 1px solid #ff871c;
  border-radius: 2px;
  padding: 7px;
  margin: 0 10px 0 10px;
  background: rgba(255, 135, 28, 0.4);
}
@media screen and (max-width: 480px) {
  #form-linha input {
    margin: 0 0 10px 0;
  }
}
#form-linha input:focus {
  outline: none;
}
#form-linha ::-webkit-input-placeholder {
  color: #fff;
}
#form-linha :-moz-placeholder {
  color: #fff;
}
#form-linha ::-moz-placeholder {
  color: #fff;
}
#form-linha :-ms-input-placeholder {
  color: #fff;
}

.assinar-btn {
  border: 2px solid #ff871c;
}
.assinar-btn i {
  margin-left: 5px;
}

#img-footer {
  padding-top: 20px;
}

#footer {
  background-color: #242424;
  margin-top: -6px;
  width: 100%;
}

#section h5 {
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
}
#section li {
  list-style: circle;
  margin: 0 30px;
}
#section a {
  color: #fff;
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 100;
}
#section a:hover {
  text-decoration: none;
  font-size: 17.5px;
  font-weight: 600;
}

.sociais {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.sociais i {
  color: #888d90;
  margin: 13px;
  font-size: 3rem;
  transition: 0.3s;
}
.sub-footer {
  padding: 14px 0px;
  border-top: 1px solid #ccc;
  color: #888d90;
  line-height: 1;
  font-size: 14px;
  font-weight: 600;
}
.sub-footer a {
  color: #5a5b5b;
}

.body-contact {
  background: #fff;
}

#contato-container h1 {
  color: #000;
  margin-top: 15rem;
  text-transform: uppercase;
}
#contato-container p {
  font-size: 15px;
  font-weight: 600;
}
#contato-container .contact-form {
  border: 1px solid #ff871c;
  padding: 25px;
  margin-top: 5rem;
}
#contato-container .form-group input, #contato-container .form-group select, #contato-container .form-group textarea {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #f2f2f2;
  border-radius: 0;
  height: 4.5rem;
  color: #727272 !important;
  font-size: 18px;
  color: #aaaaaa !important;
}
#contato-container .form-group input:focus, #contato-container .form-group select:focus, #contato-container .form-group textarea:focus {
  border-color: #ff871c;
}
#contato-container .form-group ::-webkit-input-placeholder {
  color: #aaaaaa !important;
  font-size: 18px;
}
#contato-container .form-group :-moz-placeholder {
  color: #aaaaaa !important;
  font-size: 18px;
}
#contato-container .form-group ::-moz-placeholder {
  color: #aaaaaa !important;
  font-size: 18px;
}
#contato-container .form-group :-ms-input-placeholder {
  color: #aaaaaa !important;
  font-size: 18px;
}
#contato-container .form-group textarea {
  height: 220px;
}

#enviar-btn {
  padding: 0 10rem 0 10rem;
}
#enviar-btn button {
  margin: 30px 0 20px 0;
  border: 1px solid #ff871c;
}
#enviar-btn button span {
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  #enviar-btn button {
    width: 100%;
  }
}

.second-section {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .second-section {
    flex-flow: column;
  }
}

.captcha {
  margin-bottom: 30px;
}

.box {
  margin-top: 10rem;
  margin-bottom: 5rem;
}
@media screen and (max-width: 768px) {
  .box {
    margin-top: 0;
  }
}
.box .icon {
  text-align: center;
  position: relative;
}
.box .icon .image {
  position: relative;
  z-index: 2;
  margin: auto;
  width: 88px;
  height: 88px;
  border: 8px solid white;
  line-height: 88px;
  border-radius: 50%;
  vertical-align: middle;
}
.box .icon .image i {
  font-size: 36px !important;
  color: #fff !important;
}
.box .icon .info {
  margin-top: -24px;
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid #e0e0e0;
  padding: 15px 0 10px 0;
  min-height: 155px;
}
.box .icon .info h3 {
  font-family: "Robot, sans-serif";
  font-size: 16px;
  color: #222;
  font-weight: 700;
}
.box .icon .info p {
  font-family: "Robot, sans-serif";
  font-size: 13px;
  color: #666;
  line-height: 1.5em;
  margin: 20px;
}
.box .icon .info i {
  color: #39a323;
  font-size: 18px;
  margin-right: 5px;
}

.confira h2 {
  padding-top: 15rem;
  color: #3d3d3d;
  letter-spacing: 2px;
  font-family: sans-serif;
  font-size: 3rem;
  font-weight: 900;
}
.confira p {
  letter-spacing: 2px;
  color: #3d3d3d;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.artes p {
  font-size: 15px;
}

.tabela h1 {
  font-size: 25px;
}

#bg-laranja {
  background: #ea923a;
}

.list-mobile {
  display: none;
  letter-spacing: 1.2px;
  font-size: 18px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .list-mobile {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .beneficios {
    display: none;
  }
}
.beneficios li {
  border-bottom: 2px solid #e5a253;
  color: #f1f1f1;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 24px;
}
.beneficios li:hover {
  background: #e5a253;
  cursor: pointer;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  -ms-transition: all 0.35s;
  transition: all 0.35s;
}
.beneficios h1 {
  border-top-left-radius: 20px;
  margin: 5rem 0 0 0;
  padding-bottom: 10rem;
  text-align: center;
}

.tabela-plano li, .fim li {
  background: #fff;
  border-bottom: 2px solid #d4d4d4;
  text-align: center;
  cursor: pointer;
  padding: 10.55px 24px;
}
@media screen and (max-width: 1199px) {
  .tabela-plano li, .fim li {
    padding: 13.35px 24px;
  }
}
.tabela-plano li:hover, .fim li:hover {
  background: #dedede;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  -ms-transition: all 0.35s;
  transition: all 0.35s;
}

.beneficios h1, .tabela-plano h1, .fim h1 {
  background: #001e82;
  background-border-left: 2px solid #ccc;
  font-weight: 600;
  padding: 19px 21px;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .beneficios h1, .tabela-plano h1, .fim h1 {
    font-size: 21px;
  }
}

.fim h1 {
  border-top-right-radius: 20px;
}

.tabela-plano {
  padding-bottom: 5rem;
}
.tabela-plano li {
  border-right: 2px solid #d4d4d4;
}
@media screen and (max-width: 768px) {
  .tabela-plano li {
    display: flex;
    justify-content: space-between;
  }
}
.tabela-plano li span {
  display: none;
}
@media screen and (max-width: 768px) {
  .tabela-plano li span {
    display: block;
  }
}
.tabela-plano li p {
  font-weight: 600;
}
.tabela-plano h1 {
  margin: 5rem 0 0 0;
}

.fa {
  font-size: 30px;
}
.fa.fa-check {
  color: #2cc14f;
}
.fa.fa-times {
  color: #BA5340;
}

.no-padding, ul {
  padding: 0;
}

.logos {
  padding: 10rem 0 10rem;
  text-align: center;
}
@media screen and (max-width: 610px) {
  .logos {
    padding: 0;
  }
}
.logos img {
  width: 40%;
  align-items: center;
  margin-top: 3rem;
}
@media screen and (max-width: 768px) {
  .logos img {
    width: 25%;
  }
}
.logos h3 {
  letter-spacing: 1.2px;
  font-size: 25px;
  font-weight: 900;
}

.contato-text, .adesao-btn {
  text-align: center;
  padding-bottom: 60px;
}
.contato-text p, .adesao-btn p {
  padding-bottom: 10px;
  letter-spacing: 1.2px;
  font-size: 25px;
  font-weight: 900;
}
@media screen and (max-width: 768px) {
  .contato-text p, .adesao-btn p {
    font-size: 20px;
  }
}
.contato-text a, .adesao-btn a {
  border: 3px solid #ff871c;
  padding: 10px 20px 10px 20px;
  font-weight: 600;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.contato-text a:hover, .adesao-btn a:hover {
  text-decoration: none;
}

.adesao-btn a {
  font-size: 25px;
}

#partners {
  background: #f8f8f8;
  padding: 70px 0;
  width: 100%;
}
@media screen and (max-width: 610px) {
  #partners {
    float: none;
  }
}

.area {
  width: 100%;
}

.conteudo {
  margin-bottom: 35px;
}
.conteudo figure img {
  height: 400px;
}

.paginacao li a, .paginacao li span {
  padding: 8px 10px;
}
.paginacao li a:first-child, .paginacao li span:first-child {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  margin-left: 0;
}
.paginacao li a:last-child, .paginacao li span:last-child {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.items-esquerda {
  background: #fff;
  padding: 3rem 0 2rem 0;
}

/*ESTILO DOS ITEMS DA DIREITA*/ 
.direita-cont {
  background-color: #fff;
  border: 1px solid #f0f0f0;
  margin-bottom: 30px;
  padding: 20px 30px;
  width: 100%;
}
.direita-cont h2 {
  color: #444444;
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
  margin-left: -31px;
  padding-bottom: 0;
  padding-left: 29px;
  padding-top: 0;
}
.direita-cont .intagram-title {
  display: flex;
  justify-content: space-between;
}
.direita-cont .intagram-title a:hover {
  text-decoration: none;
}

.insere-texto {
  width: 100%;
}
.insere-texto input {
  background: #f5f5f5;
  border: 1px solid #9d9d9d;
  color: #444;
  height: 43px;
  padding: 5px;
  width: 100%;
}
.insere-texto input:focus {
  outline: none;
  border: solid 1px #ff871c;
  box-shadow: 0 0 0 0.1rem #ff871c;
}
.insere-texto #pesquisar-btn {
  margin: 12px 0 10px 0;
  padding: 7px 30px;
  border: 2px solid #ff871c;
  font-size: 17px;
  font-weight: 600;
}
#container-adesao {
  background: #f5f5f5;
  padding: 15px;
  border-radius: 5px;
}

.custom-header-panel {
  background: #004b8e !important;
  border-color: #004b8e !important;
}

.panel-body input:focus {
  box-shadow: none;
  border: 1px solid #ff871c;
}

.requerido {
  color: red;
}

.btn-orange-md {
  background: #FF791F !important;
  width: 40%;
  border-bottom: 3px solid #ae4d13 !important;
  margin-bottom: 3rem;
}
.btn-orange-md:hover {
  background: #d86016 !important;
}

#contato {
  margin-top: -13rem;
  margin-bottom: 5rem;
}
@media screen and (max-width: 768px) {
  #contato {
    margin-top: 1rem;
  }
}

.premium {
  margin-top: -10px;
  margin-bottom: 5rem;
  font-size: 17px;
  font-weight: 600;
}

.sobre-body {
  background: #f8f8f8;
}

#sobre {
  padding-top: 15rem;
}
#sobre #container {
  background: #FFF;
  padding: 3rem;
  box-shadow: 2px 5px 15px -7px #000;
  border-radius: 5px;
}
#sobre h2 {
  color: #424242;
  font-size: 37px;
  font-weight: 600;
}
#sobre .frase {
  font-weight: bold;
  color: #969696;
}
#sobre .about {
  padding: 20px;
}
#sobre .about p {
  color: #7d7d7d;
  text-align: justify;
  font-size: 18px;
}

.empresa-table {
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .empresa-table {
    width: 100%;
    display: flex;
    padding: 0;
  }
}
@media screen and (max-width: 610px) {
  .empresa-table {
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .empresa-table {
    flex-flow: column;
  }
}
@media screen and (max-width: 768px) {
  .empresa-table li {
    padding: 0;
  }
}

.empresa-content span {
  border-radius: 100%;
  font-size: 8rem;
  line-height: 117px;
  text-align: center;
  width: 117px;
}
.empresa-content .empresa-title {
  color: #525252;
  text-transform: uppercase;
  font-size: 18px;
  border-bottom: 1px solid #bbbbbb;
  margin-top: 32px;
  padding-bottom: 17px;
}
.empresa-content .empresa-title p {
  color: #7d7d7d;
  font-size: 15px;
}

.how-section1 {
  margin-top: -3%;
  position: relative;
  padding: 10%;
}
.how-section1 h4 {
  color: orange;
  font-weight: bold;
  font-size: 30px;
}
.how-section1 .subheading {
  color: #3931af;
  font-size: 20px;
}
.how-section1 .row {
  margin-top: 10%;
}

.txt-about p {
  color: #7d7d7d;
  font-size: 15px;
}

.how-img {
  text-align: center;
}
.how-img img {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .how-img img {
    width: 30%;
  }
}

.invertido {
  float: left;
  text-align: right;
}
@media screen and (max-width: 768px) {
  .invertido {
    float: none;
    text-align: left;
  }
}
.invertido:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.invertido:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.desc {
  margin-top: 23px;
}

@media screen and (max-width: 768px) {
  .pc {
    padding-top: 18rem;
  }
  .pc img {
    position: absolute;
    bottom: 18rem;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  .pc img {
    bottom: 25rem;
  }
}
@media screen and (max-width: 768px) and (max-width: 320px) {
  .pc img {
    bottom: 30rem;
  }
}

@media screen and (max-width: 768px) {
  .globo {
    padding-top: 18rem;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  .globo {
    padding-top: 12rem;
  }
}
@media screen and (max-width: 768px) {
  .globo img {
    position: absolute;
    bottom: 17rem;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  .globo img {
    bottom: 23rem;
  }
}
@media screen and (max-width: 768px) and (max-width: 380px) {
  .globo img {
    bottom: 30rem;
  }
}
@media screen and (max-width: 768px) and (max-width: 320px) {
  .globo img {
    bottom: 35rem;
  }
}

.itens-redes-sociais {
  border: 1px solid #f0f0f0;
  padding: 10px;
  text-align: center;
  border-radius: 0 0 3px 0;
  box-shadow: 2px 5px 15px -7px #000;
}

.item-facebook {
  margin: 0 0 30px 0;
  box-shadow: 2px 5px 15px -7px #000;
}
@media screen and (max-width: 610px) {
  .item-facebook {
    margin: 0 auto 30px;
  }
}

#faq {
  padding-top: 15rem;
}
#faq h2 {
  color: #424242;
  font-size: 37px;
  font-weight: 600;
}
#faq h3 {
  padding-top: 5rem;
}

.faq-title {
  text-align: center;
}

.faq-btn {
  display: block;
  padding: 10px;
  color: #000;
  font-weight: 100;
  font-size: 20px;
}
.faq-btn:hover {
  cursor: pointer;
  text-decoration: none;
}
.faq-btn i {
  margin-right: 10px;
  color: #f00;
}

.resposta {
  padding: 0 20px 0 20px;
  background: #f9f9f9;
}
.resposta p {
  padding: 20px;
  font-weight: 400;
  font-size: 17px;
}

/*# sourceMappingURL=core.css.map */
